<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light justify-content-between px-5">
      <%= link_to 'My Lists', lists_path, class: "navbar-brand" %>
      <form class="form-inline">
        <%= link_to 'Add a List', new_list_path %>
      </form>
    </nav>
    <%= yield %>
  </body>
</html>
